BLOG_GIT_DIRECTORY=/root/rexim.me
BLOG_GIT_REMOTE=origin
BLOG_GIT_BRANCH=master

BLOG_DIRECTORY=/var/www/rexim.me
BLOG_USER=user
BLOG_GROUP=group

PATH_TO_LOG=/var/log/rexim.me/deploy.log
MAX_LOG_SIZE=$((10 * 1024 * 1024))
ADMIN_EMAIL=