[% WRAPPER skeleton.tt
   title = title _ ' - Little Corner of the Internet'
%]
    <div class="post">
      <div class="post-header">
        <a class="post-title" href="[% page_name %].html">[% title %]</a>
      </div>

      <div class="post-duration duration" title="[% date %]">
        [% date %]
      </div>

      <div class="post-content">
        [% content %]
      </div>
    </div>
[% END %]