<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>[% title %]</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='http://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/default.min.css" />


    <script type="text/javascript" src="http://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="http://yandex.st/highlightjs/7.5/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </head>
  <body>
    <div class="header">
      <a class="logo-title" href="index.html">Little Corner of the Internet</a>
    </div>

    [% content %]

    <div class="footer">
      <div class="right-cell">
        <span class="copyright">Copyright Bullshit &copy; 2013</span>
      </div>
      <div class="left-cell">
        <a class="fa fa-github-alt contact-icon" href="http://github.com/rexim"></a>
        <a id="email-button" class="fa fa-envelope contact-icon" data-email="cmV4aW1rdXRAZ21haWwuY29tCg==" href="mailto:{email}"></a>
      </div>
      <div class="clear"></div>
    </div>

    <script type="text/javascript">
      $("div.duration").text(function(index, text) {
          return "was published " + moment($.trim(text)).fromNow();
      });

      $("#email-button").attr("href", function(index, attr) {
          return "mailto:" + atob($(this).attr("data-email"));
      });
    </script>
  </body>
</html>
